@import url('https://fonts.cdnfonts.com/css/seven-segment');



#calc-header {
    margin-top: 2%;
    margin-bottom: 0;
    text-align: left;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

row {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

row button {
    margin-left: 5%;
    border-radius: 15px;
    width: 20%;
    background-color:rgb(26, 26, 26);
    color: rgb(174, 171, 171);
    font-family: Arial, Helvetica, sans-serif;
}



.calculator {
    margin-top: 7px;
    border-style:solid;
    color: rgb(35, 29, 29);
    width: 50%;
    background-color: rgb(69, 68, 68);
    justify-content: center;
}

#display {
    color:rgb(52, 51, 51);
    background-color: rgb(65, 100, 65);
    font-family: 'Seven Segment', sans-serif;
    font-size: 2em;                                             
    font-style: bold;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    border-style: double;
    border-width: 6px;
}

.calculator button {
    font-size: 2em;
}

.logo {
    width: 20%;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: App-logo-spin infinite 3s linear;
    }
  }

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
